<!DOCTYPE html>
<html>
<head>
    <title>Evaluation Interface</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        button:disabled {
            background-color: #cccccc;
            cursor: not-allowed;
        }
        a.disabled {
            pointer-events: none;
            background-color: #cccccc;
            cursor: not-allowed;
        }
        a.btn[disabled] {
            background-color: #cccccc;
            cursor: not-allowed;
            pointer-events: none; /* Makes sure the button doesn't receive click events when disabled */
        }

        .response-box {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            background-color: #e6e6e6;
            margin-top: 10px;
        }



        body {
            padding: 20px;
        }
        .conversation-card {
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            background-color: #f7f7f9;
        }
        .conversation-card p {
            white-space: pre-line;
        }
        .submit-btn {
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .submit-btn:hover {
            background-color: #0056b3;
        }

        @keyframes ellipsis {
            0% { content: "."; }
            33% { content: ".."; }
            66% { content: "..."; }
            100% { content: "."; }
        }

        .animated-ellipsis:after {
            content: "...";
            animation: ellipsis 1.5s infinite;
        }

    </style>
</head>
<body>

<div class="container mt-4">
    <div class="row">
        <!-- User Message Placeholder -->
        <div id="userMessage" class="alert" style="display:none;"></div>

        <!-- Main Content -->
        <div class="col-md-7">

            {% for item in data %}
                <div class="conversation-card">
                    <h3>Conversation</h3>
                    {% set first_utterance = item.conversation_context.split("\n", 1)[0].replace("USER:", "").strip() %}
<!--                    <p>-->
<!--                        <b>batch_id:</b> {{ item.batch_id }}-->
<!--                        <b>conversation_id:</b> {{ item.question_id }}-->
<!--                        <b>turn_id:</b> {{ item.turn_id }} <br>-->
<!--                        <b> run_id:</b> {{ item.run_id }}-->
<!--                    </p>-->
                    <p>
                        <strong>USER:</strong>{{ first_utterance }}
                        <span class="animated-ellipsis"></span>
                    </p>
                    <p>{{ item.conversation_context.replace("USER: " + first_utterance, "").replace("USER:", "<br><strong>USER:</strong>").replace("SYSTEM:", "<br><strong>SYSTEM:</strong>")|safe }}</p>

                    <div class="response-box">
                        <p>{{ item.response.replace("SYSTEM:", "<br><strong>SYSTEM:</strong>")|safe }}</p>
                    </div>

                    <h3>Evaluate</h3>
                    <div class="form-group">
                        <label>Relevance</label>
                        <select class="form-control relevance">
                            <option value="" selected disabled hidden></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Naturalness</label>
                        <select class="form-control naturalness">
                            <option value="" selected disabled hidden></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Conciseness</label>
                        <select class="form-control conciseness">
                            <option value="" selected disabled hidden></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Completeness</label>
                        <select class="form-control completeness">
                            <option value="" selected disabled hidden></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <button class="submit-btn" data-id="{{ item.question_id }}" data-submitted="false" type="button">Submit</button>
                    <span class="checkmark" data-id="{{ item.question_id }}" style="display: none;">✔</span>
                </div>
            {% endfor %}

            <div class="mt-5 text-center">
                {% if next_page %}
                    <a href="{{ url_for('index', page_num=next_page) }}" class="btn btn-primary ml-2 disabled" id="nextBtn" disabled>Next</a>
                {% else %}
                    {% if is_last_page %}
                        <a href="{{ url_for('thank_you') }}" class="btn btn-success disabled" id="thankYouBtn" disabled>End</a>
                    {% endif %}
                {% endif %}
            </div>

        </div>

        <!-- Rubric Side Pane -->
        <div class="col-md-5">
            <button id="toggleRubric" class="btn btn-secondary mb-3">Show/Hide Rubric</button>
            {% if show_rubric %}
                <div class="card" id="rubricCard">
                    <div class="card-header"><h3>Rubric</h3></div>
                    <div class="card-body">
                        <ul>
                        <li><strong>Relevance:</strong> Does the SYSTEM response follow on from previous utterances?</li>
                        <ul>
                            <li><strong>0 Not Relevant:</strong> Does’t follow on from the previous utterances, seems to be completely
                                random, to the current conversation, seems to be a completely different conversation.</li>
                            <li><strong>1 Partially Relevant:</strong> The response is partially off-topic; may
                            be vaguely related, but too divergent from the conversation.</li>
                            <li><strong>2 Relevant:</strong> Follows on, but it is not entirely clear why the response is being presented.</li>
                            <li><strong>3 Highly Relevant:</strong> Directly follows on, and it is clear why the response is being presented.</li>
                        </ul>
                        <li><strong>Naturalness:</strong> Does the system's response sound natural as if a human was speaking?</li>
                        <ul>
                            <li><strong>0 No:</strong> The response does not sound like something a human would say given the conversation.</li>
                            <li><strong>1 Somewhat:</strong> The response is a bit human-like. The response is somewhat
                            understandable but may not be entirely fluent and natural.</li>
                            <li><strong>2 Yes (but not completely) :</strong> The response is almost human-like. The response is
                            well-formed but is not natural.</li>
                            <li><strong>3 Yes:</strong> The response is very human-like and fluent.</li>
                        </ul>
                        <li><strong>Conciseness:</strong> Is the system's response concise, or does it have unnecessary information?</li>
                        <ul>
                            <li><strong>0 No:</strong> The response is too wordy or too short. The response  may also contain lots of
                                irrelevant content or no relevant information at all.</li>
                            <li><strong>1 Somewhat:</strong> The response is a bit wordy and does not  adequately address the user’s
                            utterance (i.e. the response is longer than needed).</li>
                            <li><strong>2 Yes (but not completely) :</strong> The response is brief but not comprehensive
                            (i.e. does not adequately address the user’s utterance/query or properly follow on from the conversation).
                            <li><strong>3 Yes:</strong> The response is brief but comprehensive</li>
                            (the response was concise and to the point without too much/little other information).</li>
                        </ul>
                         <li><strong>Completeness:</strong> Does the SYSTEM response provide a thorough and comprehensive answer to the question posed?</li>
                        <ul>
                            <li><strong>0 No:</strong> The response does not address the question at all or provides information that is entirely unrelated.</li>
                            <li><strong>1 Somewhat:</strong> The response touches on the topic but misses significant details or only addresses one aspect of a multi-part question.</li>
                            <li><strong>2 Yes (but not completely):</strong> The response covers most aspects of the question but may miss minor details or nuances.</li>
                            <li><strong>3 Yes:</strong> The response comprehensively addresses the question, providing a detailed and thorough answer that leaves no aspect untouched.</li>
                        </ul>
                    </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    // Function to check if all questions have been submitted
    function checkAllSubmitted() {
        let allSubmitted = true;
        $(".submit-btn").each(function() {
            if ($(this).text() !== "Submitted") {
                allSubmitted = false;
                return false;  // Break out of the each loop
            }
        });
        return allSubmitted;
    }

    function updateButtonStatus(buttonId) {
        let allSubmitted = true;
        $(".submit-btn").each(function() {
            if ($(this).attr("data-submitted") === "false") {
                allSubmitted = false;
                return false;
            }
        });
        if (allSubmitted) {
            $(buttonId).removeClass("disabled").removeAttr("disabled");
        } else {
            $(buttonId).addClass("disabled").attr("disabled", "disabled");
        }
    }




    $(".submit-btn").click(function() {
        let card = $(this).closest('.conversation-card');
        let question_id = $(this).data('id');
        let relevance = card.find('.relevance').val();
        let naturalness = card.find('.naturalness').val();
        let conciseness = card.find('.conciseness').val();
        let completeness = card.find('.completeness').val();

        // Send data to server for processing
        $.ajax({
            url: '/evaluate',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                'id': question_id,
                'relevance': relevance,
                'naturalness': naturalness,
                'conciseness': conciseness,
                'completeness': completeness
            }),

            dataType: 'json',
            success: function(response) {
                if(response.message === "Success") {
                    // Disable the button and change its text
                    $("button[data-id='" + question_id + "']").prop("disabled", true).text("Submitted");

                    // Show the checkmark
                    $(".checkmark[data-id='" + question_id + "']").show();

                    // Update the submission status for the button
                    $("button[data-id='" + question_id + "']").attr("data-submitted", "true");

                    // Update the "Next" button status
                    updateButtonStatus("#nextBtn");
                    updateButtonStatus("#thankYouBtn");
                } else {
                    $("#userMessage").addClass("alert-danger").text(response.message).show();
                }
            }
        });

        // Initial check in case the user reloads the page after submitting some questions
        updateButtonStatus("#thankYouBtn");

        // After a question is submitted, check if all questions are submitted
       if (checkAllSubmitted()) {
            $("#nextBtn").removeClass("disabled").removeAttr("disabled");
        } else {
            $("#nextBtn").addClass("disabled").attr("disabled", "disabled");
        }

    });

    // Initial check in case the user reloads the page after submitting some questions
    if (checkAllSubmitted()) {
        $("#nextBtn").removeClass("disabled").removeAttr("disabled");
    } else {
        $("#nextBtn").addClass("disabled").attr("disabled", "disabled");
    }



    // When the document is ready
    $(document).ready(function(){
        // When the toggle button is clicked
        $("#toggleRubric").click(function(){
            // Toggle the visibility of the rubric card
            $("#rubricCard").toggle();
        });
    });



</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

