<!DOCTYPE html>
<html>
<head>
    <title>Evaluation Interface</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        button:disabled {
            background-color: #cccccc;
            cursor: not-allowed;
        }
        a.disabled {
            pointer-events: none;
            background-color: #cccccc;
            cursor: not-allowed;
        }
        a.btn[disabled] {
            background-color: #cccccc;
            cursor: not-allowed;
            pointer-events: none; /* Makes sure the button doesn't receive click events when disabled */
        }

        .response-box {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            background-color: #e6e6e6;
            margin-top: 10px;
            margin-bottom: 10px;
        }



        body {
            padding: 20px;
        }
        .conversation-card {
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 12px;
            background-color: #f7f7f9;
        }
        .conversation-card p {
            white-space: pre-line;
        }
        .submit-btn {
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .submit-btn:hover {
            background-color: #0056b3;
        }

        @keyframes ellipsis {
            0% { content: "."; }
            33% { content: ".."; }
            66% { content: "..."; }
            100% { content: "."; }
        }

        .animated-ellipsis:after {
            content: "...";
            animation: ellipsis 1.5s infinite;
        }

        textarea.form-control {
            resize: vertical; /* Allow only vertical resizing */
            margin-top: 5px; /* Spacing between label and textarea */
        }
        .form-control {
            margin-bottom: 15px;  /* Adjust the value as per your preference */
        }

        /* New Styles for Evaluation Cards */
        .card.my-2 {
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            margin-bottom: 20px; /* Spacing between each card */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a light shadow for depth */
        }

        .card-body {
            padding: 15px;
        }


    </style>
</head>
<body>

<div class="container mt-4">
    <div class="row">
        <!-- User Message Placeholder -->
        <div id="userMessage" class="alert" style="display:none;"></div>

        <!-- Main Content -->
        <div class="col-md-7">

            {% for item in data %}
                <div class="conversation-card">
                    <h3>Conversation</h3>
                    {% set first_utterance = item.conversation_context.split("\n", 1)[0].replace("USER:", "").strip() %}
                    <p>
                        <strong>USER:</strong>{{ first_utterance }}
                        <span class="animated-ellipsis"></span>
                    </p>
                    <p>{{ item.conversation_context.replace("USER: " + first_utterance, "").replace("USER:", "<br><strong>USER:</strong>").replace("SYSTEM:", "<br><strong>SYSTEM:</strong>")|safe }}</p>

                    <div class="response-box">
                        <p>{{ item.response.replace("SYSTEM:", "<br><strong>SYSTEM:</strong>")|safe }}</p>
                    </div>

                    <h3>Evaluate</h3>
                    <!-- Relevance Card -->
                    <div class="card my-2">
                        <div class="card-body">
                            <label><b>Relevance</b></label>
                            <select class="form-control relevance" required>
                                <option value="" selected disabled hidden></option>
                                <option value="-1">-1</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <label for="relevance-reason"><b>Rationale</b></label>
                            <textarea class="form-control" id="relevance-reason" name="relevance-reason" rows="2" required></textarea>
                        </div>
                    </div>

                    <!-- Completeness Card -->
                    <div class="card my-2">
                        <div class="card-body">
                            <label><b>Completeness</b></label>
                            <select class="form-control completeness" required>
                                <option value="" selected disabled hidden></option>
                                <option value="-1">-1</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <label for="completeness-reason"><b>Rationale</b></label>
                            <textarea class="form-control" id="completeness-reason" name="completeness-reason" rows="2" required></textarea>
                        </div>
                    </div>
                    <button class="submit-btn" data-id="{{ item.question_id }}" data-submitted="false" type="button">Submit</button>
                    <span class="checkmark" data-id="{{ item.question_id }}" style="display: none;">✔</span>
                </div>
            {% endfor %}

            <div class="mt-5 text-center">
                {% if next_page %}
                    <a href="{{ url_for('index', page_num=next_page) }}" class="btn btn-primary ml-2 disabled" id="nextBtn" disabled>Next</a>
                {% else %}
                    {% if is_last_page %}
                        <a href="{{ url_for('thank_you') }}" class="btn btn-success disabled" id="thankYouBtn" disabled>End</a>
                    {% endif %}
                {% endif %}
            </div>

        </div>

        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Submission Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Please select a value for all the dropdowns before submitting.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Rubric Side Pane -->
        <div class="col-md-5">
            <button id="toggleRubric" class="btn btn-secondary mb-3">Show/Hide Rubric</button>
            <button id="toggleExamples" class="btn btn-secondary mb-3">Show/Hide Examples</button>
            {% if show_rubric %}
                <div class="card mb-4" id="rubricCard">
                    <div class="card-header"><h3>Rubric</h3></div>
                    <div class="card-body">
                        <ul>
                        <li><strong>Relevance:</strong> Does the SYSTEM response follow on from previous utterances?</li>
                        <ul>
                            <li><strong>-1 Unable to Judge:</strong> Cannot determine the relevance of the response
                                due to lack of context or other reasons.</li>
                            <li><strong>0 Not Relevant:</strong> Does’t follow on from the previous utterances, seems to be completely
                                random, to the current conversation, seems to be a completely different conversation.</li>
                            <li><strong>1 Partially Relevant:</strong> The response is partially off-topic; may
                            be vaguely related, but too divergent from the conversation.</li>
                            <li><strong>2 Relevant:</strong> Follows on, but it is not entirely clear why the response is being presented.</li>
                            <li><strong>3 Highly Relevant:</strong> Directly follows on, and it is clear why the response is being presented.</li>
                        </ul>
                         <li><strong>Completeness:</strong> Does the SYSTEM response provide a thorough and comprehensive answer to the question posed?</li>
                        <ul>
                             <li><strong>-1 Unable to Judge:</strong> Cannot determine the completeness of the response
                                due to lack of context or other reasons.</li>
                            <li><strong>0 No:</strong> The response does not address the question at all or provides information that is entirely unrelated.</li>
                            <li><strong>1 Somewhat:</strong> The response touches on the topic but misses significant details or only addresses one aspect of a multi-part question.</li>
                            <li><strong>2 Yes (but not completely):</strong> The response covers most aspects of the question but may miss minor details or nuances.</li>
                            <li><strong>3 Yes:</strong> The response comprehensively addresses the question, providing a detailed and thorough answer that leaves no aspect untouched.</li>
                        </ul>
                    </ul>
                    </div>

                </div>
            {% endif %}

            {% if show_examples %}
                <div class="card" id="examplesCard">
                    <div class="card-header"><h3>Examples</h3></div>
                    <div class="card-body">

                        <!-- Relevance Section -->
                        <h4>Relevance:</h4>

                        <p><strong>0 Not Relevant:</strong><br>
                        User: "Can you tell me about the main functions of the heart?"<br>
                        System: "Bananas are rich in potassium and make a healthy snack."<br>
                        <em>Clarification:</em> The response doesn't address the question about the heart at all and instead discusses a completely unrelated topic about bananas.
                        </p>

                        <p><strong>1 Partially Relevant:</strong><br>
                        User: "Can you tell me about the main functions of the heart?"<br>
                        System: "The heart is an important organ. Many people also use the word 'heart' to describe emotions and feelings."<br>
                        <em>Clarification:</em> While the response mentions the heart, it diverges into emotional connotations of the word "heart" which isn't directly relevant to the user's query about its functions.
                        </p>

                        <p><strong>2 Relevant:</strong><br>
                        User: "Can you tell me about the main functions of the heart?"<br>
                        System: "The heart pumps blood, but blood also carries oxygen."<br>
                        <em>Clarification:</em> The system addresses the heart and its function to pump blood but does not provide a complete or clear answer to the user's question.
                        </p>

                        <p><strong>3 Highly Relevant:</strong><br>
                        User: "Can you tell me about the main functions of the heart?"<br>
                        System: "The heart's main function is to pump blood throughout the body, delivering oxygen and nutrients to tissues and removing waste products."<br>
                        <em>Clarification:</em> The response directly and comprehensively addresses the user's query, covering the main functions of the heart.
                        </p>

                        <!-- Completeness Section -->
                        <h4>Completeness:</h4>

                        <p><strong>0 No:</strong><br>
                        User: "Can you tell me about the main functions of the heart?"<br>
                        System: "The heart is in the chest."<br>
                        <em>Clarification:</em> The response does not address the user's question about the heart's functions, providing only a basic fact about its location.
                        </p>

                        <p><strong>1 Somewhat:</strong><br>
                        User: "Can you tell me about the main functions of the heart?"<br>
                        System: "The heart pumps blood."<br>
                        <em>Clarification:</em> The response addresses part of the user's question by mentioning the heart's role in pumping blood, but it doesn't elaborate or cover other functions.
                        </p>

                        <p><strong>2 Yes (but not completely):</strong><br>
                        User: "Can you tell me about the main functions of the heart?"<br>
                        System: "The heart pumps blood and ensures oxygen is delivered to tissues."<br>
                        <em>Clarification:</em> The answer addresses the main functions of the heart but might not capture all the nuances or details.
                        </p>

                        <p><strong>3 Yes:</strong><br>
                        User: "Can you tell me about the main functions of the heart?"<br>
                        System: "The heart's main function is to pump blood throughout the body, delivering oxygen and nutrients to tissues and removing waste products."<br>
                        <em>Clarification:</em> The system's response comprehensively covers the heart's main functions, directly and fully addressing the user's query.
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    // Function to check if all questions have been submitted
    function checkAllSubmitted() {
        let allSubmitted = true;
        $(".submit-btn").each(function() {
            if ($(this).text() !== "Submitted") {
                allSubmitted = false;
                return false;  // Break out of the each loop
            }
        });
        return allSubmitted;
    }

    function updateButtonStatus(buttonId) {
        let allSubmitted = true;
        $(".submit-btn").each(function() {
            if ($(this).attr("data-submitted") === "false") {
                allSubmitted = false;
                return false;
            }
        });
        if (allSubmitted) {
            $(buttonId).removeClass("disabled").removeAttr("disabled");
        } else {
            $(buttonId).addClass("disabled").attr("disabled", "disabled");
        }
    }

    // Check if all required fields within a card are filled out
    function checkRequiredFields(card) {
        let isValid = true;
        card.find('textarea[required], select[required]').each(function() {
            if (!$(this).val()) {
                isValid = false;
                $(this).css('border', '1px solid red'); // Highlight the empty textarea/select
            } else {
                $(this).css('border', ''); // Reset the highlight if filled
            }
        });
        return isValid;
    }

    $(".submit-btn").click(function() {
        let card = $(this).closest('.conversation-card');
        let question_id = $(this).data('id');
        let relevance = card.find('.relevance').val();
        let completeness = card.find('.completeness').val();
        let relevance_feedback = card.find('#relevance-reason').val();
        let completeness_feedback = card.find('#completeness-reason').val();

        // Check if all required fields are filled out
        if (!checkRequiredFields(card)) {
            $('#errorModal .modal-body').text('Please fill out all required fields before submitting.'); // Update the modal text
            $('#errorModal').modal('show'); // Show the modal
            return;
        }

        // Send data to server for processing
        $.ajax({
            url: '/evaluate',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                'id': question_id,
                'relevance': relevance,
                'completeness': completeness,
                'relevance_feedback': relevance_feedback,
                'completeness_feedback': completeness_feedback
            }),
            dataType: 'json',
            success: function(response) {
                if(response.message === "Success") {
                    // Disable the button and change its text
                    $("button[data-id='" + question_id + "']").prop("disabled", true).text("Submitted");
                    // Show the checkmark
                    $(".checkmark[data-id='" + question_id + "']").show();
                    // Update the submission status for the button
                    $("button[data-id='" + question_id + "']").attr("data-submitted", "true");
                    // Update the "Next" button status
                    updateButtonStatus("#nextBtn");
                    updateButtonStatus("#thankYouBtn");
                } else {
                    $("#userMessage").addClass("alert-danger").text(response.message).show();
                }
            }
        });
    });

    // Initial check in case the user reloads the page after submitting some questions
    if (checkAllSubmitted()) {
        $("#nextBtn").removeClass("disabled").removeAttr("disabled");
    } else {
        $("#nextBtn").addClass("disabled").attr("disabled", "disabled");
    }

    $(document).ready(function(){
        // When the toggle button for rubric is clicked
        $("#toggleRubric").click(function(){
            // Toggle the visibility of the rubric card
            $("#rubricCard").toggle();
        });

        // When the toggle button for examples is clicked
        $("#toggleExamples").click(function(){
            // Toggle the visibility of the examples card
            $("#examplesCard").toggle();
        });

        // Re-check in case the user reloads the page after submitting some questions
        updateButtonStatus("#thankYouBtn");
    });

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
