<!DOCTYPE html>
<html>
<head>
    <title>iKAT Evaluation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            padding-bottom: 10px;
            margin: 20px;
        }
        .rubric-pane {
            padding-right: 0 !important;
            margin-right: 0;
        }
        .important-note {
            border: 2px solid red;
            padding: 10px;
            margin: 10px 0;
            background-color: #ffe6e6; /* light red background */
            font-weight: bold;
        }

    </style>
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <!-- Intro and Start Button -->
        <div class="col-md-7">
            <h2 class="opaque-text">Welcome to the Response Evaluation system for TREC iKAT 2023</h2>
            <p>
                Thank you for participating in this evaluation. You'll be shown a series of conversations where the
                USER poses questions about a specific topic, and the SYSTEM provides corresponding answers.
            </p>
            <p>
                You will not be shown full conversations. Instead, you will be presented with the initial user
                utterance followed by the conversation context, which includes the last three user-system dialogues leading up to the response you'll
                evaluate. An ellipsis between the first utterance and the context indicates there are additional
                dialogues not displayed. Use the initial utterance to understand the user's primary information need
                and combine this understanding with the given context to make your judgments. The response you're
                evaluating will be highlighted within a grey box for easy reference.
            </p>
            <p><strong>Task:</strong> You must evaluate the last SYSTEM response of
                each dialogue in terms of its <b>relevance</b>, <b>naturalness</b>, <b>conciseness</b>, and <b>completeness</b> in relation to the
                entire conversation. Your judgements should be on a scale of 0 (lowest) to 3 (highest).
            </p>
            <p>
                Please read each conversation carefully and provide your evaluation using the provided dropdown menus.
            </p>
            <p>
                <b>Note.</b> You'll review a total of 40 conversations. After completing them, you'll have the choice
                to evaluate more. If you decide not to continue, you can easily log out of the system.
            </p>
            <p>
                <div class="important-note">
                    <strong>Important:</strong> Please <b>DO NOT</b> log out before finishing the task. Logging out
            prematurely will result in the loss of your progress, and you'll need to start over.
                </div>
            </p>
            <a href="/index/1" class="btn btn-primary">Start Evaluation</a>
        </div>

        <!-- Rubric Side Pane -->
        <div class="col-md-5 rubric-pane">
            <div class="card">
                <div class="card-header"><h3>Rubric</h3></div>
                <div class="card-body">
                    <!-- Your Rubric content goes here -->
                    <ul>
                        <li><strong>Relevance:</strong> Does the SYSTEM response follow on from previous utterances?</li>
                        <ul>
                            <li><strong>0 Not Relevant:</strong> Does not follow on from the previous utterances, seems to be completely
                                random, to the current conversation, seems to be a completely different conversation.
                            <li><strong>1 Partially Relevant:</strong> The response is partially off-topic; may
                            be vaguely related, but too divergent from the conversation.
                            <li><strong>2 Relevant:</strong> Follows on, but it is not entirely clear why the response is being presented.
                            <li><strong>3 Highly Relevant:</strong> Directly follows on, and it is clear why the response is being presented.
                        </ul>
                        <li><strong>Naturalness:</strong> Does the system's response sound natural as if a human was speaking?</li>
                        <ul>
                            <li><strong>0 No:</strong> The response does not sound like something a human would say given the conversation.
                            <li><strong>1 Somewhat:</strong> The response is a bit human-like. The response is somewhat
                            understandable but may not be entirely fluent and natural.
                            <li><strong>2 Yes (but not completely) :</strong> The response is almost human-like. The response is
                            well-formed but is not natural.
                            <li><strong>3 Yes:</strong> The response is very human-like and fluent.
                        </ul>
                        <li><strong>Conciseness:</strong> Is the system's response concise, or does it have unnecessary information?</li>
                        <ul>
                            <li><strong>0 No:</strong> The response is too wordy or too short. The response  may also contain lots of
                                irrelevant content or no relevant information at all.
                            <li><strong>1 Somewhat:</strong> The response is a bit wordy and does not  adequately address the user’s
                            utterance (i.e. the response is longer than needed).
                            <li><strong>2 Yes (but not completely) :</strong> The response is brief but not comprehensive
                            (i.e. does not adequately address the user’s utterance/query or properly follow on from the conversation).
                            <li><strong>3 Yes:</strong> The response is brief but comprehensive
                            (the response was concise and to the point without too much/little other information).
                        </ul>
                        <li><strong>Completeness:</strong> Does the SYSTEM response provide a thorough and comprehensive answer to the question posed?</li>
                        <ul>
                            <li><strong>0 No:</strong> The response does not address the question at all or provides information that is entirely unrelated.</li>
                            <li><strong>1 Somewhat:</strong> The response touches on the topic but misses significant details or only addresses one aspect of a multi-part question.</li>
                            <li><strong>2 Yes (but not completely):</strong> The response covers most aspects of the question but may miss minor details or nuances.</li>
                            <li><strong>3 Yes:</strong> The response comprehensively addresses the question, providing a detailed and thorough answer that leaves no aspect untouched.</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
